<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= Rails.application.class.module_parent_name %>
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
    <!--
      If using a TypeScript entrypoint file:
        vite_typescript_tag 'application'

      If using a .jsx or .tsx entrypoint, add the extension:
        vite_javascript_tag 'application.jsx'

      Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails
    -->

  </head>

  <body class="is-fullheight">
    <div class="is-flex is-flex-direction-column" style="height: 100vh;">
      <%= render "shared/navbar" %>
      <%= render "shared/flash" %>
      <main class="p-5 is-flex-grow-1">
        <%= yield %>
      </main>
      <%= render "shared/footer" %>
    </div>
  </body>
</html>
